.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 100vh;
}

.jobby-container {
  background-color: #202020;
  border-radius: 10px;
  border: none;
  padding: 64px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 550px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .jobby-container {
    width: 41%;
    max-width: 900px;
    padding: 64px 48px 64px 48px;
    flex-shrink: 0;
  }
}

.website-logo {
  width: 90px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 180px;
  }
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.username-input-field {
  background-color: transparent;
  border: 1px solid #6366f1;
  color: #ffffff;
  padding: 8px 16px;
  margin-top: 5px;
  outline: none;
  height: 40px;
}

.password-input-field {
  background-color: transparent;
  border: 1px solid #6366f1;
  color: #ffffff;
  padding: 8px 16px;
  margin-top: 5px;
  outline: none;
  height: 40px;
}

.btn {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #4f46e5;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}
